.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
  padding: 10px;
}

.Filters {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.NewSongButton {
  font-size: 24px;
}

.Song {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SongTitle {
  font-weight: 600;
  font-size: 2.2em;
}

.SongArtist {
  font-weight: 600;
  font-size: 1.5em;
}

.SongDetails {
  font-weight: 600;
  font-size: 1.17em;
}

button {
  color: #1d1d1d;
  background-color: #FF9E00;
}

button:hover {
  background: #FF9E00
}
